.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 100;
  text-transform: uppercase;
}

.header .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 34px;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.header .gnb {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .gnb .menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .gnb .menu-list .menu {
  padding: 0 30px;
}
.header .gnb .menu-list .menu .link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}

.header .lnb {
  display: none;
}
.header .lnb .web {
}
.header .lnb .web .posts {
}

.header .lnb .mobile {
}
.header .lnb .mobile .link {
}
